.nextiva-name {
  display: block;
  margin-left: .5rem;
  text-transform: uppercase;
  color: #022c7c;
  font-weight: 500;
  width: 100%;
  box-sizing: border-box;
}

.nextiva-input {
  padding: .5rem;
  margin: .5rem;
  border-radius: 3px;
  border: 1px solid #dadada;
  width: 100%;
  box-sizing: border-box;
}