.user {
  min-width: 40rem;
  border-radius: 5px;
  background-color: #0142ab;
  padding: 1rem;
  color: white;
  margin: 1rem 0;
  box-shadow: -5px -5px 5px grey;
  &>span {
    display: inline-block;
  }
  &:nth-child(2n-1) {
    background-color: #e69f00;
  }
  &-name {
    margin: 0 2rem;
    width: 12rem;
  }
  &-age {
    margin: 0 2rem;
    width: 12rem;
  }
}
.user-id {
  background-color: white;
  color: black;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  text-align: center;
  line-height: 2rem;
}